h3{
    font-size: 120px;
    color: black;
    justify-content: center;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 45%;
    transition-duration: 1s;
    background-color: #90e0ef;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h3:hover{
    font-size: 35px;
}